body {
  font-family: monospace;
  background-color: #0f0f0f;
  color: #ffffff;
}

.App {
  max-width: 900px;
  margin: 50px auto;
}

.instruction-list {
  display: flex;
  gap: 10px;
}

.memory-ram-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
  gap: 10px;
  padding: 10px 5px;
}

.memory-word {
  background: #333333;
  color: #ffffff;
  height: 40px;
  width: 80px;
  padding: 2px;
  border-radius: 6px;
}

.memory-selected {
  background: #555555;
}

.memory-buttons {
  display: flex;
  gap: 4px;
  padding-right: 3px;
}

.memory-word-header {
  display: flex;
  justify-content: space-between;
}

.memory-word-value {
  text-align: center;
  font-size: 1.2rem;
}

.memory-word-input {
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  -moz-appearance: textfield;
  outline: none;
}

.memory-word-input::-webkit-inner-spin-button,
.memory-word-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.control-unit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  margin: 0 auto;

  gap: 20px;
}

.control-button {
  font-family: monospace;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
  background: #444444;
  color: #ffffff;
  font-size: 1.25rem;
}

.control-button-stop {
  background: #d33747;
}
.control-button-stop:hover {
  background: #94202b;
}
.control-button-run {
  background: #198747;
}
.control-button-run:hover {
  background: #125e31;
} 
.control-button-next {
  background: #5437d3;
}
.control-button-next:hover {
  background: #392094;
}
.control-button:disabled {
  background: #444444;
}

.output-display,
.input-display {
  width: 100%;
  border-radius: 5px;
  border: 0;
  resize: vertical;
  min-height: 30px;
  height: 100px;
  background: #444;
  color: #fff;
  padding: 10px 2px;
  outline: none;
  font-size: 1.2rem;
}

.input-enable {
  border: 2px dashed #d33747;
}

.container-registers {
  margin-bottom: 20px;
  width: auto;
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

.io-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;

  gap: 20px;
}